.searchBar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 18px;
}

.inputBlock {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.brand {
    width: 224px; 
}

.title {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18/14);
    color: #8A8A89;
}

.price {
    width: 125px;
}

.mileage {
    width: 320px;
}

.mileageBox {
    display: flex;
}

.mileageInput {
    width: 50%; 
}

.box {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    padding: 14px 18px;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 18px;
    line-height: calc(20/18);
    color: #121417;
    background-color: #F7F7FB;
    border-width: 0;
    border-radius: 14px;
}

.vector {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 14px;
    top: 14px;
    cursor: pointer;
}

.listBox {
    position: absolute;
    width: 100%; 
    max-height: 188px; 
    overflow: hidden; 
    z-index: 1;
    overflow-y: scroll;
  }

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 14px;
    list-style: none;
    border: 1px solid;
    border-radius: 14px;
    background-color: #FFFFFF;
    border-color: rgba(12, 14, 17, 0.05);
}

.disable {
    display: none;
}

.option {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    color: rgba(12, 14, 17, 0.2);
}

.option:hover,
.option:focus {
    color: #121417;
    cursor: pointer;
}

.searchBtn {
    width: 136px;
    height: 48px;
    padding: 14px 44px;
    background-color: #3470FF;
    border-width: 0;
    border-radius: 12px;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: calc(20/14);
    color: #FFFFFF;
  }
  
  .searchBtn:hover,
  .searchBtn:focus {
    background-color: #0B44CD;
    cursor: pointer;
  }