.searchBar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 18px;
}

.inputBlock {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.brand {
    width: 224px; 
}

.title {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18/14);
    color: #8A8A89;
}

.price {
    width: 125px;
}

.mileage {
    width: 320px;
}

.mileageBox {
    display: flex;
    width: 100%;
}

.searchBtn {
    width: 136px;
    height: 48px;
    padding: 14px 44px;
    background-color: #3470FF;
    border-width: 0;
    border-radius: 12px;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: calc(20/14);
    color: #FFFFFF;
  }
  
  .searchBtn:hover,
  .searchBtn:focus {
    background-color: #0B44CD;
    cursor: pointer;
  }